<div class="row subsection">
    <div class="col-sm-7">
        <h1>Contact Us</h1>
        <h2 class="highlight-text">Cannington Store</h2>
        <h3>2/1397 Albany Highway, Cannington, WA.<br />(Opposite KFC, Hungry Jack, Carousel Shopping Mall)<br />Tel: 08 9356 7685</h3>
        <h3 class="highlight-text"><u>Business Hours</u></h3>
        <h3>Monday - Wednesday 10am - 5pm<br />Thursday 10am - 7pm<br />Friday - Saturday 10am - 5pm<br />Sunday 11am - 5pm</h3>
        <br />
        <img class="image-mobile" src="~/images/contact/contact_image_1.png" />
        <br />
        <h2 class="highlight-text">Joondalup Store</h2>
        <h3>7/210 Winton Road, Joondalup, WA.<br />Tel: 08 9356 7685</h3>
        <h3 class="highlight-text"><u>Business Hours</u></h3>
        <h3>Monday - Wednesday 10am - 5pm<br />Thursday 10am - 7pm<br />Friday - Saturday 10am - 5pm<br />Sunday 11am - 5pm</h3>
        <br />
        <img class="image-mobile" src="~/images/contact/contact_image_2.png" />
        <br />
        <h2 class="highlight-text">Email</h2>
        <h3>Bowen@leathersofa.com.my</h3>
        <h3>Crystal@leathersofa.com.my</h3>
    </div>
    <div class="col-sm-3">
        <img class="image-non-mobile" src="~/images/contact/contact_image_1.png" />
        <img class="image-non-mobile" src="~/images/contact/contact_image_2.png" />
    </div>
</div>
