<div class="row subsection">
    <div class="col-sm-8">
        <h1>FAQ</h1>
        <h3>
            1. Where are the lounges made?
            <br />
            A: They are all made in our factory, in Malaysia.
            <br/><br />
            2. Why do you claim that your lounges are of Top Quality and Low Price?
            <br />
            A: Because (1) We use genuine cow hides though a lot of leather lounges in the market are of buffalo hides, hard wood, high density foam, etc. (2) The filing in our back cushion and arm rest is more than what is in the market, so that normally our lounges are <span class="highlight-text">still in good shape</span> after a long time. Lounges in the market may be softer because their filing is less, but logically they will sink quickly. Our filing is more, the other reason is to bring out the shape of lounges. <span class="highlight-text faq-image-direction">Please refer to the photos on the right</span>.<span class="image-mobile"><br/><br /></span><img class="image-mobile" src="~/images/faq/faq_sample.png" /><span class="image-mobile"><br /><br /></span> (3) Our lounges look appealing because of exceptional workmanship. Please visit our showroom to verify. (4) We are simply much cheaper as compared with competitors, because it is factory direct.
            <br /><br />
            3. Why many of your products are Recliners, and a few are L-shapes and corners?
            <br />
            A: Because we believe that once you have used our Recliners, you would not think about L-shapes and corners. L-shapes and corners <span class="highlight-text">may look modern</span> but they are <span class="highlight-text">always low back</span>, <span class="highlight-text">they may look big</span>, but actually they are <span class="highlight-text">not practical</span>, as they only have 2 arms, people tend to only sit on the 2 end seaters and not the middle seaters which have no armrest. On the other hand, our Recliners are practical and appealing.
            <br /><br />
            4. May I know more about the leather?
            <br />
            A: Yes. They are all Genuine Leather. The article is called Bovine (Corrected Cow Grain with Madras or Uruguay Embossing and Thickness between 0.9-1.1mm). Our raw cow hides are from American or Australian slaughter house, they are not Buffalo.
            <br /><br />
            5. What are the differences between buffalo and cow leather?
            <br />
            A: Raw cow hides are normally sourced from western countries like Europe, America, Australia, New Zealand, etc. While buffalo hides are sourced from Asian countries like India, China, Thailand, etc. Buffalo leather easily gets harder after 6 months and has shorter life span.
            <br /><br />
            6. What is bonded leather?
            <br />
            A: It is basically PU coating on bonded scrap leather. And it is not durable. The coating may peel due to moisture or when time goes by, as a result the lounge will look ugly.
            <br /><br />
            7. Do you use buffalo or bonded leather?
            <br />
            A: NOT AT ALL!
            <br /><br />
            8. May I know more about the wood frames? How long can they last?
            <br />
            A: Yes. They are Meranti hard wood from Malaysia. As for normal use, the wood frame can last for life time.
            <br /><br />
            9. May I know more about the motor used in electric mechanism?
            <br />
            A: The motors are made by OKIN, a Germany factory in China.
            <br /><br />
            10. What is your warranty terms?
            <br />
            A: It is 10 years on Internal Structure, 3 years on Foam, Mechanism and Leather. Please note that Competitors may give 10 years warranty on internal structure, but it may only mean wood frame, normally wood frame can last for a lifetime provided proper use. We dare to give warranty on foam, because we are confident of the foam we use (as it is direct from our factory), it is high density and resilient, the foam may become softer over time, but we guarantee that it would not sink untill you feel the wood frame.
            <br /><br />
            11. Do you custom make?
            <br />
            A: For some designs, yes.
            <br /><br />
            12. How long do I need to wait for the colors or designs that you dont have stock?
            <br />
            A: Normally it is between 4-8 weeks.
            <br /><br />
            13. How much is delivery?
            <br />
            A: $80, within Perth metropolitan area.
            <br /><br />
            14. How about the payment terms?
            <br />
            A. Deposit for $300 normally, $600 for special order, balance in cash when we deliver.
        </h3>
    </div>
    <div class="col-sm-4">
        <img class="image-non-mobile" src="~/images/faq/faq_sample.png" />
    </div>
</div>
