<div class="row subsection">
    <div class="col-sm-12">
        <h1>Tips When Buying/Comparing <span class="highlight-text">Leather Sofas</span></h1>
        <ol>
            <li>
                <h1 style="display: inline"><span class="highlight-text">Craftmanship</span>.</h1> <h2 style="display: inline">We advise to view the outline of lounges in 2 meters</h2>
                <img src="~/images/tips/tips_image_1.png" />
                <h3>
                    This is important as to get an overview of the <span class="highlight-text">craftmanship</span>/<span class="highlight-text">feel</span> of the lounges, as lounges are made by hand and not machine.
                    A masterpiece will deliver a sense of Art.
                    <br /><br />
                    <span class="highlight-text">Things to consider:</span>
                    <br />
                    Is the craftmanship neat and tidy<span class="highlight-text">?</span>
                    <br />
                    A good supervision in lounge factory is to make sure made-by-hand lounges
                    are neat and tidy.
                    <br/><br />
                    Is it appealing<span class="highlight-text">?</span>
                    <br />
                    A masterpiece is not only neat and tidy, but also appealing!
                </h3>
                <br />
            </li>
            <li>
                <h1 style="display: inline"><span class="highlight-text">Comfort</span>.</h1> <h2 style="display: inline">We recommend to have it <span class="highlight-text">firmly comfortable and resilient</span>.</h2>
                <h3>
                    <span class="highlight-text">Things to consider:</span>
                    <br />
                    Are the back and arms high enough<span class="highlight-text">?</span>
                    This is to support your head and arms comfortably.
                    <br /><br />
                    Is the lounge too soft<span class="highlight-text">?</span>
                    <br />
                    Logically, it will sink quickly if it is too soft.
                    <br /><br />
                    Do you feel the wood when you sit on it<span class="highlight-text">?</span>
                    <br/>
                    If it is <span class="highlight-text">high density and resilient</span> foam, good seating structure,
                    you will not feel the wood even after many years.
                </h3>
                <br />
            </li>
            <li>
                <h1 style="display: inline"><span class="highlight-text">Leather</span>.</h1> <h2 style="display: inline">We advise to have it in genuine <span class="highlight-text">cow</span> hides.</h2>
                <h3>
                    We suggest that you request to have a look at the leather sample A4 size or bigger.
                    <br /><br/>
                    Mostly used leather in the market  is Corrected Grain with Thickness
                    09-1.1 mm. Corrected means correction on the raw hides to cover the scars, marks,
                    and other natural defect. Top Grade Leather is made of good raw hides with
                    less natural defect, and thus less correction is needed and the leather feels more
                    comfortable and natural. There are several grades of upholstery leather in the market
                    , it depends on the embossing, thickness, softness, texture, chemical used,
                    functions. The most commonly used  is called Bovine (Corrected Grain with
                    Uruguay or Madras embossing and thickness 0.9-1.1mm).
                    <br/><br />
                    <span class="highlight-text">Things to consider:</span>
                    <br/>
                    Feel the <span class="highlight-text">thickness</span> of the leather.
                    <br />
                    Try pinch the leather to feel the thickness. Normally upholstery leather is 0.9-1.1 mm.
                    Raw cow hide is thick and sliced in tannery,  first layer is called <span class="highlight-text">Grain</span> Leather,
                    second layer is called <span class="highlight-text">Split</span> Leather. Grain Leather should be used basically on
                    area you mostly touch, like back cushion , arm, seater, chaise, while Split Leather
                    may be used on side and back of lounges  where you barely touch.
                    <br/><br/>
                    Feel the <span class="highlight-text">elasticity</span> of the leather.
                    <br />
                    Try pulling the leather to feel the elasticity. Grain Leather has better elasticity and
                    softness than  Spilt Leather because of the grain. Beware of Softened Split
                    Leather used in place of Grain Leather. Grain Leather should be for the front,
                    Split Leather should be only for the side and the back.
                    <br /><br/>
                    <span class="highlight-text">We suggest you request to have a look at the leather sample A4 size or bigger from the showroom.</span>
                </h3>
                <h2 style="text-align: right"><a asp-controller="Sofa" asp-action="Index">Back To Products</a></h2>
            </li>
        </ol>
    </div>
</div>
