@using System.Threading.Tasks
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sofa Factory Outlet</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">
<div class="navbar unscrolled navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand brand">Sofa Factory Outlet</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="inactive"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="inactive"><a asp-area="" asp-controller="Sofa" asp-action="Index">Products</a></li>
                <li class="inactive"><a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a></li>
                <li class="inactive"><a asp-area="" asp-controller="Home" asp-action="Color">Color</a></li>
                <li class="inactive"><a asp-area="" asp-controller="Sofa" asp-action="Samples">Configuration</a></li>
                <li class="inactive"><a asp-area="" asp-controller="Home" asp-action="Clearance">Clearance</a></li>
                <li class="inactive"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>

@if (ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index")
{
    @RenderBody()
}
else
{
    <div class="container">
        @RenderBody()
    </div>
} 

<div class="jumbotron footer">
    <div class="container">
        <div class="col-sm-4">
            <h3>Navigation</h3>
            <h4><a asp-controller="Home" asp-action="Index">Home</a></h4>
            <h4><a asp-controller="Sofa" asp-action="Index">Products</a></h4>
            <h4><a asp-controller="Home" asp-action="FAQ">FAQ</a></h4>
            <h4><a asp-controller="Home" asp-action="Color">Color</a></h4>
            <h4><a asp-controller="Sofa" asp-action="Samples">Configuration</a></h4>
            <h4><a asp-controller="Home" asp-action="Clearance">Clearance</a></h4>
            <h4><a asp-controller="Home" asp-action="Contact">Contact Us</a></h4>
            <h3>Extras</h3>
            <h4><a asp-controller="Home" asp-action="Tips">Shopping Tips</a></h4>
        </div>
        <div class="col-sm-4">
            <h3>Contact Us</h3>
            <h4>Cannington Store - 3/1393 Albany Highway, Cannington, WA</h4>
            <h4>Joondalup Store - 7/210 Winton Road, Joondalup, WA</h4>
            <h4>08 9356 7685 </h4>
            <h4>Bowen@leathersofa.com.my</h4>
            <h4>Crystal@leathersofa.com.my</h4>
        </div>
        <div class="col-sm-4">
            <h3>Legal</h3>
            <h4>&copy; 2017 - Sofa Factory Outlet <br /> All rights reserved</h4>
        </div>
    </div>
</div>
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">

    
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">

    
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>
